@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

.floatingErrorMessage {
    position: absolute;
    top: 100px;
    left: 20px;;
    z-index: 5000;
}


.shape {
  display: inline-block;
  height: 150px;
  width: 150px;
  color: #ffbb01;
  margin-left: 50px;
}

.triangle {
  background: transparent;
  position: relative;
}
.triangle:before {
  content: '';
  display: block;
  border: 150px solid transparent;
  border-width: 150px 75px;
  border-top-width: 0;
  border-bottom-color: #ffcc01;
}
.triangle:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background: #ffcc01;
  -webkit-clip-path: polygon(0px 150px, 75px 150px, 75px 0px);
          clip-path: polygon(0px 150px, 75px 150px, 75px 0px);
}

.triangle.selected:before{
    border-bottom-color:orange;
}
.square {
  background : #ffcc01
}

.circle {
  border-radius: 50%;
  background : #ffcc01;
}
/* Stage Styles */

.stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.circle.selected,.square.selected{
  background: linear-gradient(135deg, #ffcc01, #ffcc01 50%, orange 50%, orange 100%);
}