<div class="jumbotron text-center">
    <h1>About application</h1>
    
    <p>Created by Marius Donici.</p>
    
    <p>The application resolves:</p>
    
    <p>1. Given a choice of geometric figures, calculate the chosen figure’s area and perimeter. The required lengths will also be input by the user. The user can choose between a circle, a triangle or a rectangle. User input should be taken via console.
    </p>
    
    <p>2. Given an input list of numbers, find the largest and the smallest numbers, print any numbers that are palindromes, and any numbers that are prime numbers.
Example: Given a list of [234, 678, 131, 101, 199, 346], the output should be:
Largest number: 678
Smallest number: 101
Palindromes: 131, 101
Prime numbers: 101, 131, 199</p>

</div>