<div class="jumbotron text-center" ng-controller="mainController">
    <h1>Application info</h1>
    
    <p>{{message}}</p>
    <a role="button" data-toggle="modal" ng-click="updateModal('Spring')"><img src="/resources/spring2.png" style="width:200px;height:200px;"></a>
    <a role="button" data-toggle="modal" ng-click="updateModal('Angular')"><img src="/resources/angular.png" style="width:200px;height:200px;"></a>
    <!-- Modal -->
  <div class="modal fade" modal="showModal" close="closeModal()">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="closeModal()">&times;</button>
          <h4 class="modal-title">{{popup.header}}</h4>
        </div>
        <div class="modal-body">
          <p>{{popup.message}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="closeModal()">Close</button>
        </div>
      </div>
      
    </div>
  </div>
</div>