<div class="jumbotron text-center">
    <h1>Numbers page</h1>
    <p>{{message}}</p>
    <div class="container">
    <form name="myNumberForm" ng-controller="numbersController" ng-submit="submit()">
        <div class="alert alert-danger floatingErrorMessage" ng-show="validationError"><i class="fa fa-times-circle"></i>{{errorMessage}}</div>
        <label>Numbers list:<input name="valuesList" ng-model="valuesList" ng-list size=60 ng-change="inputValidation(valuesList)" required/></label>
        <input type="submit"  id="submit" value="Submit" ng-disabled="validationError || myNumberForm.$invalid"/>
        <pre>list = {{valuesList}}</pre>
        <pre>Smallest number:{{responseObject.smallestNumber}}</pre>
        <pre>Largest number:{{responseObject.largestNumber}}</pre>
        <pre>Prime numbers:{{responseObject.primeNumbers}}</pre>
        <pre>Palindrom numbers{{responseObject.palindromeNumbers}}</pre>
    </form>
        </div>
</div>