<div class="jumbotron text-center">
    <h1>Shape page</h1>
    <p>{{message}}</p>
    <div class="container">
        <form name="shapeForm" ng-controller="shapeController" ng-submit="evaluate()">
            <div class="alert alert-danger floatingErrorMessage" ng-show="validationError"><i class="fa fa-times-circle"></i>{{errorMessage}}</div>
            <div class="col-md-9 col-md-offset-1 row">
                <a class="span1 circle shape" ng-click="setShape('Circle');selectMe($event)"></a>
                <a class="span1 square shape" ng-click="setShape('Rectangle');selectMe($event)"></a>
                <a class="span1 triangle shape" ng-click="setShape('Triangle');selectMe($event)"></a>
            </div>
            <div class="col-md-5 col-md-offset-3"> <pre class="span3">Shape : {{shape.name}} -- {{valuesList}} </pre> <pre class="span3">Area : {{responseObject.area}}</pre> <pre class="span3">Perimeter : {{responseObject.perimeter}}</pre> </div>
            <div class="input-area row col-md-7 col-md-offset-2">
                <label class="col-md-2" ng-show="shape.name == 'Circle' || shape.name == 'Rectangle' || shape.name == 'Triangle'">{{shape.fields[0].label}}</label>
                <input class="col-md-2" ng-show="shape.name == 'Circle' || shape.name == 'Rectangle' || shape.name == 'Triangle'" ng-model="shape.fields[0].value" ng-change="inputValidation()" requiredtype="text">
                <label class="col-md-2" ng-show="shape.name == 'Rectangle' || shape.name == 'Triangle'">{{shape.fields[1].label}}</label>
                <input class="col-md-2" ng-show="shape.name == 'Rectangle' || shape.name == 'Triangle'" ng-model="shape.fields[1].value" ng-change="inputValidation()" type="text">
                <label class="col-md-2" ng-show="shape.name == 'Triangle'">{{shape.fields[2].label}}</label>
                <input class="col-md-2 " ng-show="shape.name == 'Triangle'" ng-model="shape.fields[2].value" ng-change="inputValidation()" type="text">
                <input class="col-md-3 col-md-offset-5 " ng-show="shape.name" type="submit" id="submit" value="Submit" ng-disabled="validationError || shapeForm$invalid" /> </div>
    
    </form>
</div>
</div>